body {
  /* background-color: #eaeaea !important; */
  /* max-width: 1300px !important; */
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.ui.fluid.container {
  max-width: 1300px !important;
}

.ui.text.menu {
  padding: 0 18px;
  font-size: 1em;
}
