* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.headers {
  height: 100%;
  background: radial-gradient(#fff, #ffd6d6);
}

.headers .ui.fluid.container {
  max-width: 1300px !important;
  margin: auto !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 25px !important;
}

.ui.grid.present {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ui.grid.present.column {
  flex-basis: 50%;
  min-width: 300px;
}

h1.ui.header {
  font-size: 50px !important;
  font-weight: bold;
  line-height: 60px;
  margin: 25px 0 !important;
}

.ui.button {
  font-weight: bold;
  background: #ff523b !important;
  display: inline-block;
  color: #fff !important;
  padding: 10px 30px !important;
  margin: 30px 0 !important;
  transition: background 0.5s !important;
}

.ui.button:hover {
  background: #563434 !important;
}

.ui.grid.present.column img.ui.image {
  max-width: 100%;
  padding: 50px 0;
}

.small-container {
  max-width: 1080px !important;
  margin: auto !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

/* ---- Categorias ---- */

.ui.column.grid.categories {
  /* max-width: 1000px !important; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ui.column.grid.categories .column {
  flex-basis: 32%;
  min-width: 250px;
  margin-bottom: 30px;
}

.ui.column.grid.categories .column img {
  width: 100%;
}

/* ------ Productos --- */

h2.ui.header.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 120px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4.ui.header {
  font-size: 1.1em !important;
  margin: 10px 0 5px !important;
}

.products .ui.column.grid .column {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 40px;
  transition: transform 0.5s;
}

.products .ui.column.grid .column:hover {
  transform: translateY(-5px) !important;
}

/* --- Offers --- */

.offers {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px !important;
  padding: 30px 0 !important;
}

.offers .ui.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto !important;
}

.offers .ui.grid .column {
  padding: 0 !important;
  flex-basis: 50% !important;
  min-width: 300px !important;
}

.offers .ui.image {
  padding: 50px;
}

small {
  font-size: 0.84em !important;
  color: #555 !important;
}

/* --- testimonial --- */

.testimonial {
  padding-top: 100px;
}

.testimonial .ui.grid {
  margin: 0 !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial .ui.grid .column {
  text-align: center !important;
  padding: 40px 20px !important;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;

  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.testimonial .ui.grid .column img {
  width: 80px;
  display: inline;
  margin: 20px 0;
}

.testimonial .ui.grid .column:hover {
  transform: translateY(-10px) !important;
}

.testimonial .ui.grid .column .quote.icon {
  font-size: 34px !important;
  color: #ff523b !important;
}

.testimonial .ui.grid .column p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .ui.grid .column h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* --- Brands --- */
.brands {
  margin: 100px auto;
}

.brands .ui.grid {
  margin: 0;
  padding: 0;
}

.brands .ui.grid .column {
  width: 160px;
}

.brands .ui.grid .column img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: transform 1.5s !important;
}

.brands .ui.grid .column img:hover {
  filter: grayscale(10%) !important;
  /* transform: translateY(-5px); */
}

/*---- footer -----*/
.footer {
  background: #000;
  color: #8a8a8a !important;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a !important;
}

.footer h3.ui.header {
  color: #fff;
  margin-bottom: 20px;
}

.footer .ui.grid .column {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer .ui.grid img {
  display: inline;
}

.footer .column.col-1 {
  flex-basis: 30% !important;
}

.footer .column.col-2 {
  flex: 1 !important;
  text-align: center !important;
}

.footer .column.col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer .column.col-3,
.footer .column.col-4 {
  flex-basis: 12%;
  text-align: center;
}

.footer ul {
  list-style-type: none;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.footer .copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.app-logo {
  /* margin-top: 20px; */
  margin: 10px 5px 0 0;
}

.app-logo img {
  width: 140px;
}

@media only screen and (max-width: 600px) {
  .ui.column.grid {
    text-align: center !important;
  }

  .column {
    flex-basis: 100% !important;
  }

  .brands .column {
    flex-basis: 70% !important;
    margin: auto;
  }

  .column .rating {
    display: none !important;
  }

  .offers .ui.image {
    padding: 10px;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }

  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .cart-info p {
    display: none;
  }
}
